<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Wilfredo Pinto, aunque en el mundo del desarrollo me conocen como <strong>wilfredoDev</strong>. Mi primer contacto con la programación fue en el bachillerato gracias a una materia de informática que despertó mi curiosidad y marcó el inicio de mi camino. Actualmente, estoy perfeccionando mis habilidades en <strong>4Geeks Academy</strong> mientras me preparo para nuevos retos profesionales.
    </p>

    <p>
      Durante dos años trabajé desarrollando soluciones a medida para clientes y creando herramientas que <strong>automatizaban procesos internos en una empresa</strong>. Esta experiencia me permitió entender la programación desde una perspectiva más integral: más allá del código, hay que pensar en rendimiento, escalabilidad y experiencia de usuario.
    </p>

    <p>
      Mi stack actual es <strong>Fullstack con enfoque en desarrollo de APIs</strong>: trabajo con tecnologías como React, TailwindCSS, Node.js, PostgreSQL, Flask y más. Me interesa especialmente todo lo relacionado con autenticación y arquitectura backend, aunque tengo la capacidad de adaptarme rápidamente a nuevos entornos gracias a mi enfoque autodidacta y resolutivo.
    </p>

    <p>
      Creo firmemente que un buen desarrollador no solo escribe código funcional, sino que también <strong>comprende el impacto que ese código tiene en la experiencia final del usuario</strong>. Con una mentalidad analítica, experiencia práctica y una constante búsqueda de mejora, estoy listo para aportar valor en cualquier proyecto.
    </p>
  </div>

  <img width="200" height="200" src="/wilfredo2.jpg" alt="Wilfredo Pinto" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
